{% extends '_base.html'%}

{% block title %}
welcome but who are you?
{% endblock title %}

{% block content %}
<section>
    <form action="" method="POST" class="mt-4 max-w-360">
        {% csrf_token %}
            {{ form }}
            <label class='mt-.5'>
                <input type="checkbox" name="input-checkbox-example" value="Nier">
                <small>remember me</small>
              </label>
            <button type="submit" class=''>Login</button>
    </form>
</section>
{% endblock content %}