{% extends "_base.html" %}
{% load static %}
{% load hitcount_tags %}
{% block title %}

{% endblock title %}
{% block nav_list %}
{% if user.id == author_id %}
<li class="btn-menu">
    <a href="">
        تنظیمات حساب کاربری
    </a>
</li>
{% endif %}
<li class="btn-menu"><a href="">نوشتن <i class="fa-regular fa-pen-to-square"></i> </a></li>
<!-- <li class=""><a href="">ثبت نام</a></li> -->
<li>
    <div class="user-profile-link">
        <a href="{% url "user_profile" user.username %}">{{ user.username }}</a>
        {% if user.img %}
        <img class="user-pic" src="{{ user.img.url }}" alt="user-avatar">
        {% endif %}
    </div>
</li>
{% endblock nav_list %}

{% block content %}
<section id="article-list" class="">
    <main>
        <h2>دستاورد ها</h2>
        <div id="user_achivment">
            <div class="achive_card">
                gold
            </div>
            <div class="achive_card">
                gold
            </div>
            <div class="achive_card">
                gold
            </div>
        </div>
        <div>
            {% for article in articles %}
            <a href="{% url 'article_detail' article.id article.slug %}">
                <div class="card">
                    {% if article.img %}
                    <img src="{{ article.img.url }}" alt="{{article.title}}" class="card-image">
                    {% endif %}
                    <div class="card-content">
                        <div class="card-title">
                            <h2 class="">{{ article.title }}</h2>
                            {% if user.id == author_id %}
                            <span class="craft">{{ article.status }}</span>
                            <a href="{% url 'update_article' article.id article.slug %}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a href="{% url 'article_delete' article.id%}">
                             <i class="fa-solid fa-trash"></i>
                            </a>
                            {% endif %}
                        </div>
                        <p class="card-description">{{ article.description|truncatewords:30}}</p>
                        <div class="card-author">
                            <div class="card-author">
                                {% if article.author.img %}
                                <img src="{{ article.author.img.url }}" alt="تصویر نویسنده" class="author-image">
                                {% endif %}
                                <div class="author-info">
                                    <p class="author-name">{{ article.author.username}}</p>
                                    <p class="publish-date">{{ article.date_last_modified }}</p>
                                </div>
                            </div>
                            <div class="card-author">
                                <div class="card-item-link">
                                    {% get_hit_count for article %}
                                    <a href="" class=""><i class="fa-solid fa-eye"></i>
                                    </a>
                                </div>
                                <div class="card-item-link">
                                    {{ article.number_of_upvotes }}
                                    <a href="" class="upvote"><i class="fa-solid fa-arrow-up"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </main>
    <aside id="user_info">
      {% if user_profile.user.img %}
      <img class="user_img_profile" src="{{ user_profile.user.img.url }}" alt="user_avatar">
      {% endif %}
        <div class="user_names">
            <span>{{ user_profile.user.username}}</span>
            <h2>
              {{ user_profile.user.first_name }}
              {{ user_profile.user.last_name }}
            </h2>
        </div>
        <div class="user_career">
            <h5>{{ user_profile.profession }}</h5>
            <h5>{{ user_profile.major }}</h5>
            <p class="user_bio">
                {{ user_profile.bio }}
            </p>
        </div>
        <ul class="user_contact">
            <li>{{ user_profile.user.email }}</li>
            <li>09940449544</li>
            <li class="user_social">
                <a href="">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-github"></i>
                </a>
            </li>
        </ul>

    </aside>

</section>
{% endblock content %}
