.max-w-360 {
    max-width: 350px;
}
.max-w-400 {
    max-width: 400px;
}
.hljs {
    color: inherit !important;
    background: none !important;
}
html {
    font-size: medium;
}
li {
    margin-bottom: 1rem;
}
a{
    text-decoration: solid;
    color: var(--default) !important;
}
/* a:hover{
    text-decoration: none !important;
} */

.custom-link::after {
    content: attr(data-content);
    display: none;
    color: var(--default);
    margin-left: .0;

}
.custom-link:hover::after{
    display: inline;
    margin-left: .5rem;

}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--contrast);
    background-color : var(--bg-muted)
}
.card:hover{
    background-color : var(--bg-default)
}
.card img {
    width: 100%;
    height: 212px;
}
.card-content {
    padding: 15px;
}
.card-title {
    font-size: 1.2em;
    margin: 0 0 10px 0;
    text-decoration-color : var(--attention)
}
.card-text {
    margin: 0 0 15px 0;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--contrast);
    padding: 10px 15px;
    color : #999;
}
.upvotes {
    color: #999;
    transition : all .1s ease;
}
.card:hover .upvotes{
    color: #44f08e;
    text-shadow: 1px 2px 11px rgb(42 238 109 / 80%);
}   
.author {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin : 0px 10px 0px 0px !important;
}
.author-name {
    font-size: 0.9em;
}
.article-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}