.max-w-360 {
    max-width: 350px;
}
.max-w-400 {
    max-width: 400px;
}
.hljs {
    color: inherit !important;
    background: none !important;
}
html {
    font-size: medium;
}
li {
    margin-bottom: 1rem;
}
a{
    text-decoration: none;
    text-decoration-color: inherit;
    
}
a:hover{
    text-decoration: none !important;
}