.max-w-360 {
    max-width: 350px;
}
.max-w-400 {
    max-width: 400px;
}
.hljs {
    color: inherit !important;
    background: none !important;
}
html {
    font-size: medium;
}
li {
    margin-bottom: 1rem;
}
a{
    text-decoration: solid;
    color: var(--default) !important;
}
/* a:hover{
    text-decoration: none !important;
} */

.custom-link::after {
    content: attr(data-content);
    display: none;
    color: var(--default);
    margin-left: .0;

}
.custom-link:hover::after{
    display: inline;
    margin-left: .5rem;

}