body {
  z-index: -998;
  background-image: url('../img/enter-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
/* main section stlying */
#main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  /* margin-left: 3rem; */
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

#main .main .main-img {
  z-index: -1;
  /* height: 500px; */
  display: flex;
  /* justify-content: center ; */
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding-left: 3rem;
}
#main .main .main-img img{
  height: 400px;
  width: 400px;
}
#main .main form {
  direction: rtl;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
  margin: auto;
}
#main .main form h3 {
  margin-bottom: 20px;
}
#main .main form input {
  width: 100%;
  font-size: 1rem;
  margin-top: 40px;
  padding: 10px;
  display: block;
  height: 100%;
}
#main form input:not(#btn) {
  outline: none;
  border: none;
  border-bottom: 2px solid darkblue;
  padding: 0 5px 10px 0;
  margin-top: 35px;
}

#main form #btn {
  background-color: var(--cobalt);
  outline: none;
  border: none;
  border: 2px solid var(--smoky);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#main form #btn:hover {
  transform: scale(1.02);
}
/* Loader style */
.loader{
  width: 100%;
  margin-top: 50px;
  display: none;
}

svg path,
svg rect{
  fill: var(--cobalt);
}
/* End loader style */
/* * notification style */ 
#message{
  display: flex;
  flex-direction: column;
  position: fixed;
  color: white !important;
}
	.rectangle {
    direction: rtl;
		display: none;
    margin-left: 10px;
    margin-bottom: 10px;
		align-items: center;
		justify-content: space-between;
		width: fit-content;
		height: 50px;
		transform: scale(0);
		border-radius: 5px;
		color: white !important;
		opacity: 1;
		overflow: hidden;
    background: #4bb543;
	}
  .rectangle.success{
    display: flex;
    background: #4bb543;
  }
  .rectangle.error{
    display: flex;
    background: #B00020;
  }
  .rectangle.animate__animated{
    transform: scale(1);
  }

	.notification-text {
		display: flex;
		align-items: center;
		padding: 0 16px;
    font-family: "Vazir", sans-serif;
		font-size: 14px;
    font-weight: 300;
    color: var(--snow) !important;
	}
	.notification-text span {
    font-weight: 300;
    text-decoration: none;
  }
/* end notifi syle */

@media only screen and (max-width: 1024px) {
  #main .main {
    flex-direction: column-reverse;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 50px;
  }
  #main .main .main-img {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  #main {
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  #main .main {
    margin: 0;
    width: 100%;
    align-items: unset;
  }
  #main .main form {
    width: 100%;
    margin: 0;
  }
}
