@font-face {
    font-family: 'Vazirmatn';
    src: url('../fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
        url('../fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


:root {
    --green: #39b665;
    --snow: #fffafa;
    --cobalt: #0047ab;
    --light-blue: #5497a7;
    --smoky: #131200;
    --dark-green: #226e3d
}

html {
    overflow-x: hidden;
}

/* body{
        background-color: var(--smoky) !important;
    } */
a {
    text-decoration: none;
    color: #131200;
}

.bg-green {
    background-color: var(--green);
}

.bg-snow {
    background-color: var(--snow);
}

.bg-cobalt {
    background-color: var(--cobalt);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-dark-green {
    background-color: var(--dark-green);
}

.green {
    color: var(--green);
}

.dark-green {
    color: var(--dark-green);
}

.snow {
    color: var(--snow);
}

.cobalt {
    color: var(--cobalt);
}

.light-blue {
    color: var(--light-blue);
}

.w-100 {
    font-weight: 100;
}

.w-200 {
    font-weight: 200;
}

.w-300 {
    font-weight: 300;
}

.w-400 {
    font-weight: 400;
}

.w-bold {
    font-weight: bold;
}

.w-600 {
    font-weight: 600;
}

.w-700 {
    font-weight: 700;
}

.txt-align-justify {
    text-align: justify;
}

.mb-3 {
    margin-bottom: 1rem;
}

.title {
    text-align: center;
    position: relative;
}

.title h2 {
    display: inline;
    background-color: white;
    z-index: 1;
    padding: 0 1rem;
}

.title span {
    z-index: -1;
    width: 50%;
    height: 3px;
    border-radius: 100%;
    left: 0;
    background-color: var(--green);
    position: absolute;
    transform: translateX(50%);
    top: 15px;
}

* {
    font-family: vazirmatn, sans-serif;
}

body {
    width: 85%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: white;
}

header {
    padding: .5rem 0;
    border-bottom: 1px solid #e2e2e2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

nav .logo .home-link {
    font-size: 1.1rem;
    font-weight: normal;
    font-weight: bold;
    color: #424242;
}

nav .logo .home-link .greeny {
    color: var(--green);
}

nav .logo .home-link .lighter {
    color: var(--smoky);
    font-weight: normal;
}

nav .logo img {
    width: 40px;
    height: 40px;
    margin-left: 0.75rem;
    filter: hue-rotate(90deg);
}

nav .nav-list {
    margin-left: 1.5rem;
}

nav .nav-list li {
    display: inline-block;
    padding: .25rem 1.2rem;
    transition: .1s all ease;
    border-radius: 20px;

}

nav .nav-list li:hover {
    background-color: #39b6652c;
}

nav .nav-list li a {
    text-decoration: none;
    color: var(--smoky);
}

.btn-menu {
    /* padding: 1rem; */
    background-color: var(--green);
}

nav .nav-list .btn-menu:hover {
    /* padding: 1rem; */
    background-color: #226e3d;
}

nav .nav-list .btn-menu a {
    color: var(--snow);
    font-weight: 500;
}

/* into */
.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 4rem;
    font-weight: 400;
    margin: 2rem 0;
    font-size: 1.2rem;
}

.container img {
    height: 500px;
    width: 500px;
}

.container .sub-context {
    line-height: 2rem;
    line-break: auto;
}

.btn-intro {
    transition: background-color .2s ease;
    padding: .5rem 2rem;
    border-radius: 10px;
    color: var(--snow);
    float: left;
    width: 10rem;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.btn-intro:hover {
    background-color: var(--smoky);
}

#editor-js {
    flex-direction: row-reverse !important;
}

#editor-js img {
    width: 450px !important;
    height: 300px !important;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #e2e2e2;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style: solid;
    image-rendering: optimizeSpeed;
    margin-left: 2rem;
}

#upvote-sec img {
    padding-right: 2rem;
    height: 400px;
}

#progress {
    flex-direction: row-reverse;
}

#signup-sec {
    padding: 2rem 4rem;
    background: rgb(0, 71, 171);
    background: linear-gradient(90deg, rgba(0, 71, 171, 1) 0%, rgba(0, 98, 171, 1) 50%, rgba(0, 71, 171, 1) 100%);
}

.btn-sign-up-sec{
    margin-right: 5rem;
}

footer{
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e2e2e2;
}

.user-pic {
    width: 40px;
    height: 40px;
    border: 2px solid gold;
    border-radius: 50%;
    margin-right: .5rem;
}
.user-profile-link{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#article-list{
    display: flex;
    justify-content: space-evenly;
}
#article-list main{
    flex:3;
    border-left: 1px solid #e2e2e2;
}
#article-list aside{
    flex: 1;
    border-right: 1px solid #e2e2e2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}


.related-articles,
.tags {
    margin-top: 20px;
}

.related-articles h3,
.tags h3 {
    font-size: 18px;
    margin: 0 0 10px;
}

.related-articles ul,
.tags ul {
    list-style-type: none;
    padding: 0;
}

.related-articles li,
.tags li {
    margin-bottom: 10px;
}

.related-articles a,
.tags a {
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s;
}

.related-articles a:hover,
.tags a:hover {
    color: #2980b9;
}

.card {
    display: flex;
    flex-direction: row-reverse;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e2e2;
    overflow: hidden;
    max-width: 800px;
    margin: 20px 20px;
    padding-bottom: 1rem;
    margin-left: 5rem;
    justify-content: space-between;
}

.card-content {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 24px;
    margin: 0 0 10px;
    line-height: 1.2;
}

.card-description {
    font-size: 16px;
    color: #333333;
    margin: 0 0 20px;
    line-height: 1.6;
}

.card-author {
    display: flex;
    align-items: center;
    margin-top: auto;
    justify-content: space-between;
}

.author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.author-info {
    display: flex;
    flex-direction: column;
}

.author-name {
    font-weight: bold;
    margin: 0;
}

.publish-date {
    font-size: 14px;
    color: #999999;
    margin: 0;
}

.card-image {
    width: 150px;
    height: auto;
    object-fit: cover;
    padding: 2rem;
}

.card-author .upvote{
    z-index: 1;
    font-size: 1rem;
    /* color: var(--snow) !important;    */
    padding: 0.115rem 0.25rem;
    text-align: center;
    border-radius: 20%;
}
.upvote .active{
    background-color: var(--green);
    box-shadow: 0px 0px 20px #00ab5381;  
}
.card-author .upvote:hover{
    background-color: #39b66582;
}
.card-item-link{
    margin-right: 1.2rem;
}

