@font-face {
    font-family: 'Vazirmatn';
    src: url('../fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
        url('../fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


:root {
    --green: #39b665;
    --snow: #fffafa;
    --cobalt: #0047ab;
    --light-blue: #5497a7;
    --smoky: #131200;
    --dark-green: #226e3d
}

html {
    overflow-x: hidden;
}

/* body{
        background-color: var(--smoky) !important;
    } */
a {
    text-decoration: none;
    color: #131200;
}

.bg-green {
    background-color: var(--green) !important;
}

.bg-snow {
    background-color: var(--snow) !important;
}

.bg-cobalt {
    background-color: var(--cobalt) !important;
}

.bg-light-blue {
    background-color: var(--light-blue) !important;
}

.bg-dark-green {
    background-color: var(--dark-green) !important;
}

.green {
    color: var(--green) !important;
}

.dark-green {
    color: var(--dark-green) !important;
}

.snow {
    color: var(--snow) !important;
}

.cobalt {
    color: var(--cobalt) !important;
}

.light-blue {
    color: var(--light-blue) !important;
}

.w-100 {
    font-weight: 100;
}

.w-200 {
    font-weight: 200;
}

.w-300 {
    font-weight: 300;
}

.w-400 {
    font-weight: 400;
}

.w-bold {
    font-weight: bold;
}

.w-600 {
    font-weight: 600;
}

.w-700 {
    font-weight: 700;
}

.txt-align-justify {
    text-align: justify;
}

.mb-3 {
    margin-bottom: 1rem;
}

.title {
    text-align: center;
    position: relative;
}

.title h2 {
    display: inline;
    background-color: white;
    z-index: 1;
    padding: 0 1rem;
}

.title span {
    z-index: -1;
    width: 50%;
    height: 3px;
    border-radius: 100%;
    left: 0;
    background-color: var(--green);
    position: absolute;
    transform: translateX(50%);
    top: 15px;
}

* {
    font-family: vazirmatn, sans-serif;
}

body {
    width: 85%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: white;
}

header {
    padding: .5rem 0;
    border-bottom: 1px solid #e2e2e2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

nav .logo .home-link {
    font-size: 1.1rem;
    font-weight: normal;
    font-weight: bold;
    color: #424242;
}

nav .logo .home-link .greeny {
    color: var(--green);
}

nav .logo .home-link .lighter {
    color: var(--smoky);
    font-weight: normal;
}

nav .logo img {
    width: 40px;
    height: 40px;
    margin-left: 0.75rem;
    filter: hue-rotate(90deg);
}

nav .nav-list {
    margin-left: 1.5rem;
}

nav .nav-list li {
    display: inline-block;
    padding: .25rem 1.2rem;
    transition: .1s all ease;
    border-radius: 20px;

}

nav .nav-list li:hover {
    background-color: #39b6652c;
}

nav .nav-list li a {
    text-decoration: none;
    color: var(--smoky);
}

.btn-menu {
    /* padding: 1rem; */
    background-color: var(--green);
}

nav .nav-list .btn-menu:hover {
    /* padding: 1rem; */
    background-color: #226e3d;
}

nav .nav-list .btn-menu a {
    color: var(--snow);
    font-weight: 500;
}

/* into */
.container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 4rem;
    font-weight: 400;
    margin: 2rem 0;
    font-size: 1.2rem;
}

.container img {
    height: 500px;
    width: 500px;
}

.container .sub-context {
    line-height: 2rem;
    line-break: auto;
}

.btn-intro {
    transition: background-color .2s ease;
    padding: .5rem 2rem;
    border-radius: 10px;
    color: var(--snow);
    float: left;
    width: 10rem;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.btn-intro:hover {
    background-color: var(--smoky);
}

#editor-js {
    flex-direction: row-reverse !important;
}

#editor-js img {
    width: 450px !important;
    height: 300px !important;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #e2e2e2;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-style: solid;
    image-rendering: optimizeSpeed;
    margin-left: 2rem;
}

#upvote-sec img {
    padding-right: 2rem;
    height: 400px;
}

#progress {
    flex-direction: row-reverse;
}

#signup-sec {
    padding: 2rem 4rem;
    background: rgb(0, 71, 171);
    background: linear-gradient(90deg, rgba(0, 71, 171, 1) 0%, rgba(0, 98, 171, 1) 50%, rgba(0, 71, 171, 1) 100%);
}

.btn-sign-up-sec {
    margin-right: 5rem;
}

footer {
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e2e2e2;
}

.user-pic {
    width: 40px;
    height: 40px;
    border: 2px solid gold;
    border-radius: 50%;
    margin-right: .5rem;
}

.user-profile-link {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#article-list {
    display: flex;
    justify-content: space-evenly;
}

#article-list main {
    flex: 3;
    border-left: 1px solid #e2e2e2;
}

#article-list aside {
    flex: 1;
    /* border-right: 1px solid #e2e2e2; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
}


.related-articles,
.tags {
    margin-top: 20px;
}

.related-articles h3,
.tags h3 {
    font-size: 18px;
    margin: 0 0 10px;
}

.related-articles ul,
.tags ul {
    list-style-type: none;
    padding: 0;
}

.related-articles li,
.tags li {
    margin-bottom: 10px;
}

.related-articles a,
.tags a {
    text-decoration: none;
    color: var(--smoky);
    transition: color 0.3s;
}

.related-articles a:hover,
.tags a:hover {
    color: #2980b9;
}

.related-articles .other-article {
    border-right: 5px solid var(--dark-green);
    padding: 0.5em 10px;
    color: #666 !important;
    background-color: #f9f9f9;
    text-align: right;
    font-size: .8rem;
}


.card {
    display: flex;
    flex-direction: row-reverse;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e2e2;
    overflow: hidden;
    max-width: 800px;
    margin: 20px 20px;
    padding-bottom: 1rem;
    margin-left: 5rem;
    justify-content: space-between;
}

.card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
}

.card-title h2 {
    font-size: 24px;
    margin: 0 0 10px;
    line-height: 1.2;
    display: inline-block;
}

.card-title span {
    display: inline-block;
    font-size: .75rem;
    padding: .1rem .5rem;
    margin-right: .5rem;
    border-radius: 20px;
}

.card-title span.published {
    background-color: var(--green);
}

.card-title span.craft {
    background-color: var(--smoky);
    color: var(--snow);
}

.card-description {
    font-size: 16px;
    color: #333333;
    margin: 0 0 5px;
    line-height: 1.6;
}

.card-author {
    display: flex;
    align-items: center;
    margin-top: auto;
    justify-content: space-between;
}

.author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.author-info {
    display: flex;
    flex-direction: column;
}

.author-name {
    font-weight: bold;
    margin: 0;
}

.publish-date {
    font-size: 14px;
    color: #999999;
    margin: 0;
}

.card-image-link {
    margin: auto 0;
}

.card-image {
    width: 150px;
    height: auto;
    object-fit: cover;
}

.card-author .upvote {
    z-index: 1;
    font-size: 1rem;
    /* color: var(--snow) !important;    */
    padding: 0.115rem 0.25rem;
    text-align: center;
    border-radius: 20%;
}

.upvote .active {
    background-color: var(--green);
    box-shadow: 0px 0px 20px #00ab5381;
}

.card-author .upvote:hover {
    background-color: #39b66582;
}

.card-item-link {
    margin-right: 1.2rem;
}


#user_info {
    padding: 1rem 1.5rem;
    text-align: center;
}

#user_info .user_img_profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 1rem 0;
}

#user_info .user_names {
    text-align: center;
}

#user_info .user_names span {
    font-size: .75rem;
}

#user_info .user_names h2 {
    margin: 0 !important;
}

#user_info .user_career {
    margin: 1rem 0;
}

#user_info .user_career h5 {
    margin: 0 !important;
    font-weight: 400;
}

#user_info .user_career .user_bio {
    text-align: justify;
}

#user_info .user_contact {
    list-style: none;
    font-weight: 200;
    padding: 0 !important;
}

#user_info .user_contact .user_social {
    font-size: 1.2rem;
}

#user_info .user_contact .user_social a {
    text-align: center;
    margin: 0 .15rem;
}

#user_achivment {
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;
}

#user_achivment .achive_card {
    width: 100px;
    height: 100px;
    border: 1px solid var(--light-blue);
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--snow);
}



/* General article styling */
.article-content {
    font-family: Arial, sans-serif;
    line-height: 2;
    color: #333;
    padding-left: 4rem;
    margin: auto;
    max-width: 800px;
    text-align: justify;
}

/* Headings */
.article-content h1,
.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.article-content h1 {
    font-size: 2em;
}

.article-content h2 {
    font-size: 1.75em;
}

.article-content h3 {
    font-size: 1.5em;
}

.article-content h4 {
    font-size: 1.25em;
}

.article-content h5 {
    font-size: 1em;
}

.article-content h6 {
    font-size: 0.875em;
    color: #666;
}

/* Paragraphs */
.article-content p {
    margin-bottom: 1em;
}

/* Code blocks */
code{
    direction: ltr;
}
.article-content code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

.article-content pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

/* Lists */
.article-content ul,
.article-content ol {
    padding-left: 20px;
    margin-bottom: 1em;
}

.article-content li {
    margin-bottom: 0.5em;
}

/* Images */
.article-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

/* Links */
.article-content a {
    color: #0066cc;
    text-decoration: none;
}

.article-content a:hover {
    text-decoration: underline;
}

/* Tables */
.article-content table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

.article-content th,
.article-content td {
    border: 1px solid #ddd;
    padding: 8px;
}

.article-content th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: left;
}

/* Blockquotes */
.article-content blockquote {
    border-left: 5px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    color: #666;
    background-color: #f9f9f9;
}

.article-content blockquote p {
    margin: 0;
}

.tag-holder {
    margin-bottom: 10px;
}

.tag {
    font-size: .75rem;
    padding: .1rem .3rem;
    background-color: #3498db59;
    border-radius: 8px;
    color: var(--smoky) !important;
}

.tags .tag-detail li {
    display: inline-block;
}

.delimiter {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 24px 0;
    position: relative;
}

.delimiter::before,
.delimiter::after {
    content: '';
    flex: 1;
    border-bottom: 1.5px solid #e0e0e0;
}

.article-container {
    width: 100%;
}

.article-container form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.article-container form #id_title {
    font-size: 2rem;
    font-weight: 500;
    border: none;
    padding: 1rem 1rem;
    border-right: 3px solid rgba(13, 20, 33, .13);
    margin-top: 1rem;
}

.article-container form #id_title::placeholder {
    color: rgb(200, 200, 200);
}

.article-container form input:focus-visible,
textarea:focus-visible {
    outline: none;
}

.article-container form #id_body_editorjs_holder {
    border: none;
    background: none;
    margin: auto;
    font-size: 1.1rem;
}

.article-container input,
textarea {
    border: none;
}

.article-container form .btn-create {
    width: fit-content;
    font-size: 1rem;
    background: none;
    border: none;
    padding: 1rem;
    background-color: var(--cobalt);
    color: var(--snow);
    font-weight: 500;
    border-radius: 12px;
    box-shadow: 0px 8px 18px -9px var(--cobalt);
    cursor: pointer;
    transition: .2s box-shadow ease;
    margin: 2rem auto;
}

.article-container form .btn-create:hover {
    box-shadow: 0px 0px 18px -2px var(--cobalt);
}

.article-container form .btn-create:active {
    box-shadow: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(21, 21, 21, 0.692);

}

.modal-content {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    margin: auto;
    margin-top: 3.5%;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
    text-align: left;
    color: #fff;
}

.close-btn {
    color: #fff;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 7px;
}

.close-btn:hover,
.close-btn:focus {
    color: #f0f0f0;
    text-decoration: none;
    cursor: pointer;
}


.model-content-holder {
    display: flex;
    flex-direction: row;
}

.model-content-holder .image-holder,
.tiny-setting {
    display: flex;
    flex-direction: column;
    margin: 0 .5rem;

}

#imagePreview {
    width: 18rem;
    height: auto;
    max-height: 10rem;
    object-fit: cover;
    margin: auto;
    padding: 1rem 0;
}

.modal-content #id_description {

    padding-right: .5rem;
    background: none;
    color: var(--snow);
    font-size: 0.9rem;
    resize: none;
    height: fit-content;
}

.modal-content #id_description::placeholder {
    color: var(--snow);
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    border-radius: 8px;
    text-align: center;
}

.custom-file-upload:hover {
    background: rgba(255, 255, 255, 0.5);
}

.form-submition {
    width: auto !important;
    margin: 0 !important;
    margin-top: 1rem !important;
}

.article-container form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    width: 100%;
}

.article-container form select option {
    background: #333;
    color: #fff;
}

.article-container form select:hover,
.article-container form select:focus {
    background: rgba(255, 255, 255, 0.3);
}

.article-container form select::-ms-expand {
    display: none;
}

.article-container form select.publish {
    background: rgb(57 198 65 / 30%);
}

.article-container form select.draft {
    background: rgba(251, 217, 47, 0.3);
}


/* Tags input and tags styling */
.article-container form #tagsInputContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 5px;
    margin-top: 1rem;
}

.article-container form #id_tags {
    border: none;
    background: transparent;
    flex: 1;
    outline: none;
    color: #fff;
    font-size: 1rem;
}
.article-container form .tiny-setting .tags-hint{
    font-size: .8rem;
    margin-top: 1rem;
    text-align: right;
}
.article-container form #id_tags::placeholder{
    color: var(--snow);
}

.article-container form #tagsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 223px;
}

.article-container form .tag {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    
}

.article-container form .tag .close-tag {
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
}