{% extends '_base.html' %}
{% block title %}
{{ article.title }}
{% endblock title %}

{% block content %}
<h1>
    {{ article.title }}
</h1>
<section>
    <img src="{{ article.img.url }}" alt="">
    {% load editorjs %}
    {{ article.body | editorjs }}
</section>
<script>
    // Add <pre> element as parent to  all <code> element with class 'code'
    document.addEventListener("DOMContentLoaded", function() {
        // Select all <code> elements with the class 'code'
        const codeElements = document.querySelectorAll('code.code');
    
        codeElements.forEach(codeElement => {
            // Create a new <pre> element
            const preElement = document.createElement('pre');
    
            // Append the <code> element to the new <pre> element
            preElement.appendChild(codeElement.cloneNode(true));
    
            // Replace the old <code> element with the new <pre> element in the DOM
            codeElement.parentNode.replaceChild(preElement, codeElement);
        });
    });    
</script>
{% endblock content %}  