{% extends '_base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %}
  بلاگ
{% endblock %}
{% block nav_list %}
<li class="btn-menu bg-light-blue">
  <form action="{% url "signout" %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="خروج" style="background: none;border: none;cursor: pointer;">
  </form>
</li>
  <li class="btn-menu">
    <a href="{% url 'create_article' %}">نوشتن <i class="fa-regular fa-pen-to-square"></i></a>
  </li>
  <li>
    <div class="user-profile-link">
      <a href="{% url 'user_profile' user.username %}">{{ user.username }}</a>
      {% if user.img %}
        <img class="user-pic" src="{{ user.img.url }}" alt="user-avatar" />
      {% endif %}
    </div>
  </li>
{% endblock %}
{% block content %}
  <section id="article-list" class="">
    <main>
      {% for article in articles %}
      <div class="card">
          <a href="{{ article.get_absolute_url }}" class="card-image-link">
          {% if article.img %}
          <img src="{{ article.img.url }}" alt="تصویر مقاله" class="card-image" />
          {% endif %}
          <div class="card-content">
                  <h2 class="card-title">{{ article.title }}</h2>
                  <p class="card-description">{{ article.description|truncatewords:30 }}</p>
          </a>
          <div class="tag-holder">
            {% for tag in article.tags.all %}
            <a href="{% url 'articles_by_tag' tag.slug %}" class="tag">#{{ tag.name }}</a>
            {% endfor %}
          </div>
              <div class="card-author">
                
                <div class="card-author">
                    <a href="{% url 'user_profile' article.author.username %}">
                        {% if article.author.img %}
                        <img src="{{ article.author.img.url }}" alt="تصویر نویسنده" class="author-image" />
                        {% endif %}
                        <div class="author-info">
                            <p class="author-name">{{ article.author.username }}</p>
                        </a>
                            <p class="publish-date">{{ article.date_created.date }}</p>
                        </div>
                </div>
                
                <div class="card-author">
                  <div class="card-item-link">
                    {% get_hit_count for article %}
                    <i class="fa-solid fa-eye"></i>
                  </div>
                  {% if user in article.upvotes.all %}
                  <div class="card-item-link bg-green">
                  {% else %}
                  <div class="card-item-link">
                  {% endif %}
                    {{ article.number_of_upvotes }}
                    <i class="fa-solid fa-arrow-up"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </main>
    <aside>
      <div class="related-articles">
        <h3>مقالات مرتبط</h3>
        <ul>
          <li>
            <a href="#">عنوان مقاله مرتبط ۱</a>
          </li>
          <li>
            <a href="#">عنوان مقاله مرتبط ۲</a>
          </li>
          <li>
            <a href="#">عنوان مقاله مرتبط ۳</a>
          </li>
        </ul>
      </div>
      <div class="tags">
        <h3>برچسب‌ها</h3>
        <ul>
          <li>
            <a href="#">برچسب ۱</a>
          </li>
          <li>
            <a href="#">برچسب ۲</a>
          </li>
          <li>
            <a href="#">برچسب ۳</a>
          </li>
        </ul>
      </div>
    </aside>
  </section>
{% endblock %}
