{% extends '_base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %}
  بلاگ
{% endblock %}
{% block script_start %}
<script src="{% static "js/app.js" %}" defer ></script>
{% endblock %}
{% block search %}
<div class="filter-menu">
  <button id="filterBtn">فیلتر ها <i class="fa-solid fa-angle-down"></i></button>
  <div id="filter-content" class="filter-content">
      <a href="?q={{ request.GET.q }}&filter=latest" class="{% if filter == 'latest' %}active{% endif %}">تازه ترین <i class="fa-solid fa-clock-rotate-left"></i></a>
      <a href="?q={{ request.GET.q }}&filter=most_viewed" class="{% if filter == 'most_viewed' %}active{% endif %}">پربازدید ترین <i class="fa-regular fa-eye"></i></a>
      <a href="?q={{ request.GET.q }}&filter=liked_by_user" class="{% if filter == 'liked_by_user' %}active{% endif %}">پسندیده <i class="fa-solid fa-check-to-slot"></i></a>
      <a href="?filter=trending" class="{% if filter == 'trending' %}active{% endif %}">ترند ترین <i class="fa-solid fa-arrow-trend-up"></i> </a>
  </div>
</div>
<div class="search-bar">
  <form method="get">
      <input type="text" name="q" placeholder="جست و جو ..." value="{{ request.GET.q }}">
      <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>
</div>
{% endblock search %}
{% block nav_list %}
<li class="btn-menu bg-light-blue">
  <form action="{% url "signout" %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="خروج" style="background: none;border: none;cursor: pointer;">
  </form>
</li>
  <li class="btn-menu">
    <a href="{% url 'create_article' %}">نوشتن <i class="fa-regular fa-pen-to-square"></i></a>
  </li>
  <li>
    <div class="user-profile-link">
      <a href="{% url 'user_profile' user.username %}">{{ user.username }}</a>
      {% if user.img %}
        <img class="user-pic" src="{{ user.img.url }}" alt="user-avatar" />
      {% endif %}
    </div>
  </li>
{% endblock %}
{% block content %}
  <section id="article-list" class="">
    <main>
      {% for article in articles %}
      <div class="card">
          <a href="{{ article.get_absolute_url }}" class="card-image-link">
          {% if article.img %}
          <img src="{{ article.img.url }}" alt="تصویر مقاله" class="card-image" />
          {% endif %}
          <div class="card-content">
                  <h2 class="card-title">{{ article.title }}</h2>
                  <p class="card-description">{{ article.description|truncatewords:30 }}</p>
          </a>
          <div class="tag-holder">
            {% for tag in article.tags.all %}
            <a href="{% url 'articles_by_tag' tag.slug %}" class="tag">#{{ tag.name }}</a>
            {% endfor %}
          </div>
              <div class="card-author">
                
                <div class="card-author">
                    <a href="{% url 'user_profile' article.author.username %}">
                        {% if article.author.img %}
                        <img src="{{ article.author.img.url }}" alt="تصویر نویسنده" class="author-image" />
                        {% endif %}
                        <div class="author-info">
                            <p class="author-name">{{ article.author.username }}</p>
                        </a>
                            <p class="publish-date">{{ article.date_created.date }}</p>
                        </div>
                </div>
                
                <div class="card-author">
                  <div class="card-item-link">
                    {% get_hit_count for article %}
                    <i class="fa-solid fa-eye"></i>
                  </div>
                  {% if user in article.upvotes.all %}
                  <div class="card-item-link bg-green">
                  {% else %}
                  <div class="card-item-link">
                  {% endif %}
                    {{ article.number_of_upvotes }}
                    <i class="fa-solid fa-arrow-up"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% empty%}
      <p>
        🧐  چیزی پیدا نکردیم
      </p>
      {% endfor %}
      {% if is_paginated %}
      <div class="pagination">
          <span class="step-links">
            
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}"><i class="fa-solid fa-angle-right"></i></a>
                {% comment %} <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">last &raquo;</a> {% endcomment %}
            {% endif %}
            <span class="current">
              {% comment %} Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. {% endcomment %}
              {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}"><i class="fa-solid fa-angle-left"></i></a>
                {% comment %} <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo; first</a> {% endcomment %}
            {% else %}
            {% endif %}

          </span>
      </div>
  {% endif %}
    </main>
    <aside style="text-align: center; padding-right: 2rem;">
      <div class="related-articles">
        <h3>خوانده شده های اخیر</h3>
        <ul>
          {% for recent_article in recent_articles %}
          <li class="other-article" style="border-right: none;">
            <a href="{{ recent_article.get_absolute_url }}">{{ recent_article.title }}</a>
          </li>
          {% empty %}
          <li class="other-article">
            هنوز مقاله ای رو نخوندی  😤
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="tags">
        <h3>برچسب‌ها</h3>
        <ul>
          <li>
            <a href="#">برچسب ۱</a>
          </li>
          <li>
            <a href="#">برچسب ۲</a>
          </li>
          <li>
            <a href="#">برچسب ۳</a>
          </li>
        </ul>
      </div>
    </aside>
  </section>
{% endblock %}
