{% extends '_base.html' %}

{% block title %}
Deletion form
{% endblock title %}

{% block content %}
<main class="article-list">
    <div class="card relatative width">
        {% if user.is_authenticated and user.id == article.author.id %}
        {% if article.status == 'crf'%}
        <output class="absolute mt-.5 ml-.5 small p-0 px-.25 attention bg-attention bd-attention">crafted</output>
        {% else %}
        <output class="absolute mt-.5 ml-.5 small p-0 px-.25 success bg-success bd-success">published</output>
        {% endif %}
        {% endif %}
        <img src="{{ article.img.url }}" alt="Article Image" />
        <div class="card-content">
          <a href="{{ article.get_absolute_url }}">
            <div class="card-title bold underline">{{ article.title }}</div>
            <div class="card-text normal">{{ article.description|truncatewords:10 }}</div>
          </a>
        </div>
      </div>

      <form action="" method="post" class="">
        {% csrf_token %}
        <label for="">Are you sure about delete this article ? 👈👈</label>
        <button type="submit" class="danger">
              <i class="fa-regular fa-trash-can"></i>
          </button>          
        </form>
</main>
{% endblock content %}