{% extends '_base.html'%}

{% block title %}
welcome but who are you?
{% endblock title %}

{% block content %}
<section>
{% if next == '/articles/create/'%}
<div class="flash danger"><i class="fa-solid fa-circle-exclamation mr-.5"></i> Login required for create an article</div>
{% endif %}
        
    <form action="" method="POST" class="mt-4 max-w-360">
        {% csrf_token %}
            {{ form.as_p }}
            {% comment %} <label class='mt-.5'>
                <input type="checkbox" name="input-checkbox-example" value="Nier">
                <small>remember me</small>
              </label> {% endcomment %}
            <button type="submit" class=''>Login</button>
    </form>
</section>
{% endblock content %}