{% extends '_base.html'%}

{% block title %}
welcome :) Join us
{% endblock title %}

{% block content %}
<section>
    <form action="" method="POST" class="max-w-400">
        {% csrf_token %}
           <fieldset class='pb-1'>
                <legend class='small'>user info</legend>
                {{ form.username.label}}:
                {{ form.username }}
                <div class='inline flex mt-1 mb-1'>
                    <span>
                        {{ form.last_name.label }}:
                        {{form.last_name}}
                    </span>
                    <span class='ml-1'>
                        {{ form.first_name.label }}:
                        {{form.first_name}}
                    </span>
                </div>
                {{form.email.label}}:
                {{ form.email}}
                <div class='mt-1 mb-.5'>
                {{ form.password1.label }}:
                {{ form.password1 }}
                    {{ form.password2.label }}:
                {{ form.password2 }}
            </div>
            {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
    </div>
{% endfor %}
    <button type="submit" class=''>signup</button>
    </fieldset>
</form>
</section>
{% endblock content %}