{% load static %}
<!DOCTYPE html>
<html lang="en" data-color-scheme='dark'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% comment %} highlited js {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>

<script>hljs.highlightAll();</script>
    <title>{% block title %}{% endblock title %}</title>
    {% block custom_style %}{% endblock custom_style%}
</head>
<body>
    <nav>
        <menu>
          <li><a href="#" onclick="event.preventDefault();document.querySelector('html').dataset.colorScheme = (document.querySelector('html').dataset.colorScheme ?? (matchMedia('(prefers-color-scheme: dark)') ? 'dark' : 'light')) === 'light' ? 'dark' : 'light'" class="color-scheme">
            ☀️
          </a></li>
          {% if user.is_authenticated %}
          <li class='success'>
            👤  {{ user.username }}
        </li> 
          <form action="{% url 'logout' %}" method="POST" class='m-0 p-0 bg-default'>
              {% csrf_token %}
              <button type="submit" class='small bg-default default mt-.75'>logout</button>
          </form>
          {% else %}
              <a href="{% url 'login' %}" class='mt-.75 default ml-1'>login</a>
              <a href="{% url 'signup' %}" class='mt-.75 accent ml-1'>signup</a>
          {% endif %}
          <li>
            <a href="{% url 'articles_list'%}">Blog</a>
          </li>
        </menu>
      </nav>
    {% block content %}{% endblock content%}
</body>
</html>